body {
  font-family: Consolas, sans-serif;
  background-color: black;
}
img {
  max-width: 150px;
  border-radius: 5px;
}

div {
  position: relative;
  justify-content: center;
  padding: 50px;
  color: white;
}
a {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  background-color: rgb(10, 6, 67);
  margin-top: 10px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  background-color: rgb(63, 55, 169);
  margin-top: 10px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}
